body {
    background-color: snow;
    margin:10px;
}
.head {
    padding: 10px;
    margin: 20px;
    border: 2px slategrey solid;
    height: 200px;
    width: auto;
    background-color: whitesmoke ;
    box-shadow: 2px 2px 5px 5px gray;
}
#linktofb{
    color: blue;
}
.intro {
    padding-top: 20px;
    margin-left: 50px;
}
h5 {
    padding-left: 30px;
}
p {
    padding-left: 30px;
}
#name {
    color: brown;
    font-family: "FontAwesome"; 
    font-style: normal; 
    font-weight: normal;
}
#work{
    font-family: "themify"; 
    font-style: normal; 
    font-weight: 400; 
}
.about {
    grid-area: about;
    
    margin: 5px;
    padding: 10px;
    background-color:rgb(227, 249, 243);
    border: solid 2px white;
    border-radius: 20px;
}
.pecialities{
    grid-area: pecialities;

    margin: 5px;
    padding: 10px;
    background-color:rgb(227, 249, 243);
    border: solid 2px white;
    border-radius: 20px;
}
.language {
    grid-area: language;

    margin: 5px;
    padding: 10px;
    background-color:rgb(227, 249, 243);
    border: solid 2px white;
    border-radius: 20px;
}
.skills{
    grid-area: skills;

    margin: 5px;
    padding: 20px;
    background-color:rgb(227, 249, 243);
    border: solid 2px white;
    border-radius: 20px;
}
.edu {
    grid-area: edu;

    margin: 5px;
    padding: 10px;
    background-color:rgb(227, 249, 243);
    border: solid 2px white;
    border-radius: 20px;
}
.hobbies {
    grid-area: hobbies ;

    margin: 5px;
    padding: 10px;
    background-color:rgb(227, 249, 243);
    border: solid 2px white;
    border-radius: 20px;
}
.contend {
    padding: 5px;
    margin: 20px;
    background-color: whitesmoke;
    display: grid;
    grid-template-areas: 
    "about pecialities language"
    "skills edu hobbies";
    grid-gap: 2px;
    border: 2px slategrey solid;
    box-shadow: 2px 2px 5px 5px gray;
}

